@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --white: hsl(0, 0%, 100%);
  --orange: hsl(3, 100%, 63%);
}

body {
  color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
button {
  color: var(--white);
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.c-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.blur-nav {
  background-color: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(10px);
}

.c-header__title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 2rem;
}

.c-navigation {
  flex-basis: 70%;
}

.c-navigation__list {
  padding: 0;
}

.c-navigation__list-item {
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
}

.c-navigation__list-item::after {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--white);
  position: absolute;
  display: inline-block;
  right: -2rem;
}

.c-navigation__list-item:last-of-type::after {
  background: transparent;
}

.c-navigation__list-item--active {
  opacity: 1;
}

.c-navigation__list-item--active > a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  position: absolute;
  bottom: -0.4rem;
  left: 0;
}

.c-cta {
  display: flex;
  align-items: center;
}

.c-cta > a {
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 2rem;
}

.c-cta__button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}

.c-cta__button__search {
  width: 15px;
  height: 15px;
  margin-right: 3rem;
}

.c-cta__button__search svg {
  width: inherit;
  height: inherit;
  fill: var(--white);
}

.c-cta__button__menu {
  width: 20px;
  height: 2px;
  background-color: var(--white);
  position: relative;
}

.c-cta__button__menu::after,
.c-cta__button__menu::before {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
  left: 0;
}

.c-cta__button__menu::after {
  bottom: -5px;
}

.c-cta__button__menu::before {
  top: -5px;
}

.latest-insights_grid {
  grid-template-rows: 300px, 1fr, 1fr;
}

.hero {
  height: 80vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-height {
  height: 80vh;
}

.bg-width {
  width: 50vw;
}

@media only screen and (max-width: 1100px) {
  .c-navigation {
    display: none;
  }

  .c-header {
    justify-content: space-between;
  }
}
