@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --white: hsl(0, 0%, 100%);
  --orange: hsl(3, 100%, 63%);
}

body {
  color: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
button {
  color: var(--white);
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.c-header {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.blur-nav {
  background-color: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(10px);
}

.c-header__title {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 2rem;
}

.c-navigation {
  flex-basis: 70%;
}

.c-navigation__list {
  padding: 0;
}

.c-navigation__list-item {
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
}

.c-navigation__list-item::after {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--white);
  position: absolute;
  display: inline-block;
  right: -2rem;
}

.c-navigation__list-item:last-of-type::after {
  background: transparent;
}

.c-navigation__list-item--active {
  opacity: 1;
}

.c-navigation__list-item--active > a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--orange);
  position: absolute;
  bottom: -0.4rem;
  left: 0;
}

.c-cta {
  display: flex;
  align-items: center;
}

.c-cta > a {
  font-size: 0.9em;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 2rem;
}

.c-cta__button {
  border: 0;
  background-color: transparent;
  display: inline-block;
}

.c-cta__button__search {
  width: 15px;
  height: 15px;
  margin-right: 3rem;
}

.c-cta__button__search svg {
  width: inherit;
  height: inherit;
  fill: var(--white);
}

.c-cta__button__menu {
  width: 20px;
  height: 2px;
  background-color: var(--white);
  position: relative;
}

.c-cta__button__menu::after,
.c-cta__button__menu::before {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
  left: 0;
}

.c-cta__button__menu::after {
  bottom: -5px;
}

.c-cta__button__menu::before {
  top: -5px;
}

.latest-insights_grid {
  grid-template-rows: 300px, 1fr, 1fr;
}

.hero {
  height: 80vh;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg-height {
  height: 80vh;
}

.bg-width {
  width: 50vw;
}

@media only screen and (max-width: 1100px) {
  .c-navigation {
    display: none;
  }

  .c-header {
    justify-content: space-between;
  }
}

:root {
  --color-white-100: hsl(206, 0%, 100%);
  --color-white-200: hsl(206, 0%, 90%);
  --color-white-300: hsl(206, 0%, 80%);
  --color-white-400: hsl(206, 0%, 65%);
  --color-white-500: hsl(206, 0%, 50%);

  --color-black-100: hsl(217, 30%, 18%);
  --color-black-200: hsl(217, 27%, 15%);
  --color-black-300: hsl(217, 27%, 12%);
  --color-black-400: hsl(217, 52%, 9%);

  --color-blue-100: hsl(215, 97%, 87%);
  --color-blue-200: hsl(215, 96%, 78%);
  --color-blue-300: hsl(215, 94%, 68%);
  --color-blue-400: hsl(215, 91%, 60%);
  --color-blue-500: hsl(215, 83%, 53%);
  --color-blue-600: hsl(215, 76%, 48%);

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black-400);
  background-color: var(--color-white-100);
}

body.darkmode {
  color: var(--color-white-100);
  background-color: var(--color-black-400);
}

main {
  overflow: hidden;
}

p {
  text-wrap: balance;
}

a,
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Elements */
.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(249, 201, 79);
  background: linear-gradient(
    0deg,
    rgba(249, 201, 79, 1) 0%,
    rgba(251, 220, 126, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.paragraph {
  font-family: inherit;
  text-wrap: balance;
  /* color: inherit; */
  margin-top: 1rem;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 700;
  color: var(--color-black-400);
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-lg {
  font-family: inherit;
  font-size: clamp(2.179rem, 5vw, 3.176rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-md {
  font-family: inherit;
  font-size: clamp(1.794rem, 4vw, 2.379rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}

.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.btn-darken {
  padding: 0.75rem 2rem;
  color: var(--color-white-100);
  background-color: var(--color-black-200);
  box-shadow: var(--shadow-medium);
}

body.darkmode .btn-darken {
  background-color: var(--color-blue-500);
}

/* Headers */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
}

body.darkmode .header {
  background-color: var(--color-black-400);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  margin-right: auto;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-blue-500);
}

body.darkmode .brand {
  color: var(--color-white-100);
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--color-black-400);
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}

body.darkmode .menu {
  color: var(--color-white-100);
  background-color: var(--color-black-400);
}

.menu.is-active {
  left: 0;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.25rem;
  margin-top: 7rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-black-400);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* Responsive Media Query */
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
    transition: none;
  }

  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }

  .menu-link {
    text-transform: capitalize;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: -1;
  z-index: 12;
  width: 1.6rem;
  height: 1.15rem;
  margin-right: 1.25rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: var(--color-black-300);
  transition: 0.25s ease-in-out;
}

body.darkmode .burger-line {
  background-color: var(--color-white-100);
}

.burger-line:nth-child(1) {
  top: 0px;
}

.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}

.burger-line:nth-child(3) {
  top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

@media only screen and (min-width: 48rem) {
  .burger.is-active .burger-line:nth-child(1) {
    top: 0px;
    transform: rotate(0deg);
  }

  .burger.is-active .burger-line:nth-child(2) {
    opacity: 1;
    left: 0;
    top: 0.5rem;
  }

  .burger.is-active .burger-line:nth-child(3) {
    top: 1rem;
    transform: rotate(0deg);
  }
}

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 2.5rem;
  z-index: 99;
  display: inline-flex;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5rem);
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;
  border: 2px solid var(--color-black-400);
  border-radius: 0.5rem;
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

body.darkmode .back-to-top {
  border-color: var(--color-white-300);
  background-color: var(--color-black-400);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.back-to-top .back-to-top-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 380px) {
  .section {
    height: 100vh;
  }
}

.container-contact {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #333;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 10px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #1e98e9;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #f9c94f;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #f9c94f;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}
